body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.products {
  margin-top: 80px;
}

.main-header {
  background-color: #eeeeee;
}

.main-header-logo {
  display: block;
  width: 160px;
  height: 65px;
  padding: 50px;
  padding-left: 0;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
}

.user-navigation {
  max-width: 200px;
  display: flex;
}

.shopping-cart {
  padding-left: 50px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  display: block;
  padding: 82px 0px 30px 48px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 70px 0 80px;
}

.slider-item:nth-child(3) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 27px;
  max-width: 600px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
  max-width: 430px;
}

.slider .btn {
  margin-bottom: 80px;
}
.products {
  margin-top: 80px;
  margin-bottom: 80px;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.products-item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 26px;
  padding-bottom: 20px;
}

.products-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.about-us {
  margin-top: 72px;
  padding: 0;
  margin: 0;
}

.about-us h3,
.modal h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;

  color: #000000;
}

.about-us b {
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features li {
  padding-top: 30px;
}

.left-column {
  width: 660px;
  margin: 0;
  padding: 0;
}

.right-column {
  width: 360px;
  margin: 0;
  padding: 0;
}

.statistics {
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.statistics b {
  text-align: center;
}

.statistics li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 80px;
}

.statistics-list ul {
  margin-top: 30px;
}

.statistics-1::before {
  content: "146%";
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 0px;
  font-size: 35px;
}

.statistics-2::before {
  content: "100%";
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 0px;
  font-size: 35px;
}

.statistics-3::before {
  content: "50%";
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 0px;
  font-size: 35px;
}

.our-clients-logo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.our-clients-logo a {
  opacity: 0.2;
}

.our-clients-logo a:hover,
.our-clients-logo a:focus {
  opacity: 1;
}

.our-clients-logo a:active {
  opacity: 0.1;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.address p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.social ul {
  list-style: none;
}
.social-list {
  display: flex;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}
.social-list li {
  display: block;
  padding-left: 10px;
}

.social-list a {
}
.social b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
.btn {
  display: block;
  width: 240px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  padding: 13px 0;
}
.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products-item .btn {
  width: 160px;
}

.products-item .btn:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.app .btn {
  background-color: #00ca74;
}

.app .btn:hover,
.app .btn:focus {
  background-color: #00bc6c;
}

.app .btn:active {
  background-color: #00aa62;
}

.presentation .btn {
  background-color: #efc84a;
}

.presentation .btn:hover,
.presentation .btn:focus {
  background-color: #eab534;
}

.presentation .btn:active {
  background-color: #e5a722;
}

.main-header .btn {
  padding: 19px 54px;
}

.write-us .btn {
  padding: 19px 40px;
}

.modal .btn {
  padding: 19px 83px;
  cursor: pointer;
}

.modal p {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

footer {
  background-color: black;
}
